.modal-backdrop {
  opacity: 0.1 !important;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}

.btn-popup {
  width: auto !important;
  height: auto !important;
  margin: 10px;
  text-align: center;
}

.row {
  margin-bottom: 0 !important;
}
