.nav-color {
  background-color: rgb(221, 248, 221);
}

.header {
  margin: 0;
  padding: 0 0 0 0;
}

.photo {
  width: 50px;
  margin-left: 20%;
}

.nav-button {
  border: none;
  /* background-color: rgba(239, 247, 255, 0.836); */
  background-color: transparent !important;
  color: rgb(128, 128, 128);
  vertical-align: center;
  padding-left: 0;
}

.nav-button:hover {
  color: rgba(31, 30, 30, 0.89);
}
